<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>infraTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4412D382BCF5F0900CD8549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4412D3F2BCF5F0900CD8549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4AE19DC2BC8CF190096F6F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4AE19EC2BC8D2A90096F6F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4AE19F32BC8D2A90096F6F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E5AD0F2BD6E59A00FF1D66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
